/*
Color Palette:

light blue: #AAC9F2
brown: #DB7A3C
green: #4EF29B
pink: #DB4DAE
yellow: #D5F242
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

.nav {
  margin-bottom: 2em;
  text-align: center;
}

.nav-link {
	display: inline-block;
	margin: 5px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 10px;
	border: 1px solid;
	color: #333;
}

.nav-link:hover {
  transition: all 0.1s ease-out;
  color: #AAC9F2;
}

.nav-link.active {
	color: #fff;
	background-color: #AAC9F2;
	border-color: #AAC9F2;
}

input[type="submit"],
button,
.button {
  transition: all 0.1s ease-out;
	padding: 0.75em 1.5em;
	display: inline-block;
	border-radius: 0;
	border: 1px solid #4EF29B;
	color: #4EF29B;
	background: transparent;
	font-size: 0.875em;
	text-transform: uppercase;
  cursor: pointer;
}

input[type="submit"]:hover,
button:hover,
.button:hover {
	background-color: #4EF29B;
	color: #fff;
}

input[type="submit"]:active,
button:active,
.button:active {
	transform: translate(1px, 1px);
}

.button.button--primary {
  background-color: #4EF29B;
	color: #fff;
}

.button.button--primary:hover {
	background-color: #33c476;
	border-color: #33c476;
}

.readable__container {
  max-width: 60em;
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
}

.readable__heading {
	text-align: center;
  color: #DB4DAE;
}

.buttons-wrapper {
  text-align: center;
  margin-top: 2em;
}

.readable-modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
  z-index: 999;
	background: rgba(0,0,0,0.75);
  display: flex;
	justify-content: center;
	align-items: center;
}

.readable-modal__overlay {
	padding: 2em;
	background: #fff;
}

.loop-item {
  position: relative;
}

.loop-item:not(:last-child) {
  margin-bottom: 3em;
}

.loop-item__buttons {
  color: #333;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

.loop-item__icon {
	cursor: pointer;
  margin-right: 0.25em;
}

.loop-item__score {
  display: flex;
	align-items: center;
}

.loop-item__score-btn {
  display: flex;
	justify-content: center;
	align-items: center;
  width: 2em;
  height: 1.75em;
  transition: all 0.1s ease-out;
  border: 1px solid;
  cursor: pointer;
}

.loop-item__score-btn:hover {
  background-color: #333;
	color: #fff;
}

.loop-item__score-value {
  min-width: 2em;
	display: inline-block;
	text-align: center;
}

.text-green {
  color: green;
}


.text-red {
  color: red;
}
